rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /facilities/{facility} {
      allow read: if true;
      allow write: if false;
    }

    match /facilities_submission/{submittedFacility} {
      allow get, list, create: if true;
      allow update, delete: if false;
    }

    match /facilities_dev/{devFacility} {
      allow read, write: if false;
    }

    match /facilities_test/{testFacility} {
      allow read, write: if false;
    }

    match /facilities_geopoint/{facility} {
      allow read, write: if false;
    }

  }
}