rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /_facilities/{facility} {
      allow read: if true;
      allow write: if false;
    }

    match /facilities_submission/{submittedFacility} {
      allow get, list, create: if true;
      allow update, delete: if false;
    }

    match /prod_facilities/{facility} {
      allow read: if true;
      allow write: if false;
    }

    match /prod_facilities_submission/{submittedFacility} {
      allow get, list, create: if true;
      allow update, delete: if false;
    }

    match /dev_facilities/{devFacility} {
      allow read, write: if false;
    }

    match /dev_facilities_submission/{submittedFacility} {
      allow get, list, create: if true;
      allow update, delete: if false;
    }

  }
}